.navbar-light {
    background-color: #420517;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    font-size: 16px;
    background-color: #420517;
    border: 0px;
    border-radius: 0px;
}

.navbar-brand {
    font-size: 16px;
    margin-bottom: 5px;
}